* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 1em;
    text-align: center;
}

header {
    margin: 20px 0px 25px 0px;
}

header h1 {
    font-size: 2.5em;
    color: #cc470d;
}

input[type=number] {
    width: 90px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #cc470d;
    font-size: 1.1em;
}

.radio {
    margin: 25px 0px;
}

#f {
    margin-left: 25px;
}

#atividade {
    margin-bottom: 25px;
    padding: 10px;
    border: 1px solid #cc470d;
}

input[type=button], input[type=reset] {
    padding: 10px 25px;
    border-radius: 25px;
    border: none;
    background-color: #cc470d;
    color: #fff;
    font-size: 1.15em;
}
input[type=reset]{
    margin-left: 20px;
}
hr{
    margin: 10px 0px;
}
.coracao{
    width: 50px;
    height: 50px;
    position: relative;
    transform: rotate(-135deg);
    left: 20%;
    animation: pulsar 0.75s infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quadrado{
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #ff0000;
}
.circulo{
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #ff0000;
    border-radius: 50px;
}
.top{
    top: 50%;
}
.left{
    left: 50%;
}
@keyframes pulsar {
    0%{
        transform: scale(0.95) rotate(-135deg);
    }
    100%{
        transform: scale(1.15) rotate(-135deg);
    }
}
#calorias, #agua{
    font-size: 1.3em;
}
#calorias{
    color: #cc470d;
}
#agua{
    color: #0d96cc;
}
#freq{
    color: #fff;
    font-size: 1.5em;
    transform: rotate(135deg);
    text-align: center;
}